* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;

}

body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 61px;
    height: 19px;
    margin: 5px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    color: #000000;
    margin: 0;
}

header nav li a {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 19px;
    display: block;
    border-top: solid 2px #ffffff;
    padding: 46px 27px;
}

header nav li a:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    transition: 0.5s ease;
}

/* SECTION SEARCH */
.search {
    margin: 0;
    padding: 10px 5px 0 5px;
}

/* Search Title */
.search .search-title h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    margin: 0;
}

.search .search-title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    margin: 9px 0;
}

/* Search Bar */
.search form {
    padding: 8px 0;
    display: flex;

}

.search form label {
    background-color: #f2f2f2;
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
}

.search form input {
    border: 1px solid #F2F2F2;
    padding: 0 2px 0 17px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    outline: none;
}

.search form input::placeholder {
    color: #000000;
    opacity: 1;

}

.search form input:focus::placeholder {
    color: transparent;
  }

.search form button {
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    padding: 0 15px;
    height: 49px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
}

.search form button i {
    display: none;
}

/* Search Filters */

.search .filters {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 7px;
    padding: 22px 0;
}

.search .filters i,
.search .count-result i {
    color: #0065FC;
}

.search .filters h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
}

.search .filters ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding-left: 32px;
}

.search .filters ul li {
    padding: 12px 18px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
}

.search .filters ul li:hover {
    background-color: #DEEBFF;
    transition: 0.5s ease;
}

/* Search Count Result */

.search .count-result {
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 8px 5px;
}

.search .count-result i {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION HOUSING */

.housing {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 28px;
    gap: 35px;
}

.housing .houses-box,
.housing .popular-box {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 22px 30px;
    display: flex;
    flex-direction: column;
}

.housing .houses-box h2,
.housing .popular-box h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

/* Houses Box */

.housing .houses-box {
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.houses-box .houses-cards {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-flow: row wrap;
    gap: 15px;
    margin: 4px 0;

}

.houses-cards .house-article {
    width: 31%;
    background-color: #ffffff;
    padding: 5px 5px 15px 5px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.houses-cards .house-article:hover {
    transition: 0.5s all;
    transform: scale(1.05);
}

.houses-cards .house-img img {
    width: 100%;
    height: 116px;
    border-radius: 18px 18px 0 0;
    object-fit: cover;
}

.houses-cards .house-article .house-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    height: 100%;
}

/* House Description -General */
.house-description .house-title h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.house-description .house-title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 6px 0;
}

.house-description .house-rate {
    display: flex;
    justify-content: flex-start;
}

.house-description .house-rate i {
    color: #0065FC;
}

.house-description .house-rate .grey {
    color: #F2F2F2;
}

.house-description .house-rate i:hover {
    color: #0065FC;
    transition: 0.25s ease;
}

.house-description .house-rate i:hover~i {
    color: #f2f2f2;
    transition: 0.25s ease;
}

/* Houses Box More */
.houses-box .more {
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding: 40px 4px 24px 0;
}

.houses-box .more:hover {
    color: #0065FC;
    transition: 0.2s ease;
}

/* Popular Box */

.popular-box {
    width: 33%;
    display: flex;
    padding-bottom: 0;
    gap:0;
}

.popular-box .popular-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.popular-box .popular-head i {
    color: #0065FC;
}

.popular-box .popular-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.popular-cards .popular-article {
    height: 144px;
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.popular-cards .popular-article:hover {
    transition: 0.5s all;
    transform: scale(1.05);
}

.popular-article .house-img {
    width: 40%;
}

.popular-article .house-img img {
    height: 100%;
    width: 100%;
    border-radius: 18px 0 0 18px;
    object-fit: cover;
}

.popular-article .house-description {
    padding: 10px 10px 12px 12px;
    margin: 0;
    width: 66%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* SECTION ACTIVITIES */

.activities h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    padding: 60px 0 20px 0;
}

.activities .activities-box {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
    ;
}

.activities-box .activity-card {
    width: 23%;
    border-radius: 20px;
    height: 445px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

}

.activities-box .activity-card:hover {
    transition: 0.5s all;
    transform: scale(1.05);
}

.activity-card img {
    width: 100%;
    height: 87%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity-card .activity-description {
    height: 56px;
    display: flex;
    align-items: center;
}

.activity-card h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 15px;

}

/* FOOTER */

footer {
    background-color: #F2F2F2;
    padding: 0;
    margin-top: 60px;
}

footer nav {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 24px 0 46px 63px;
    margin: 0;
}

footer nav h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

footer .footer-nav {
    display: flex;
    flex-direction: column;
    width: 33%;
}

footer .footer-nav ul {
    margin: 0;
}

footer .footer-nav ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 12px;
}

footer .footer-nav ul li a:hover {
    color: #0065FC;
    transition: 0.3s all;
}


/* MEDIA QUERIES TABLET */

@media screen and (max-width: 991px) {

    /* SECTION SEARCH */
    .search .filters {
        align-items: baseline;
    }

    .search .filters ul {
        flex-flow: row wrap;
        align-content: flex-start;
        gap: 20px;

    }

    /* SECTION HOUSING */
    .housing {
        flex-direction: column;
    }

    .housing .houses-box {
        width: 100%;
        ;
    }

    .housing .popular-box {
        width: 100%;
    }

    .popular-box .popular-cards {
        flex-direction: row;
        gap: 15px;
    }

    .popular-cards .popular-article {
        width: 33%;
        height: auto;

    }

    .activities .activities-box {
        gap: 20px;
    }

    .activities-box .activity-card {
        height: 300px;
    }

    .activity-card img {
        height: 80%;
    }
}

/* MEDIA QUERIES MOBILE */

@media screen and (max-width: 767px) {

    /* BODY */
    body {
        padding: 0;
    }

    /* HEADER */
    header {
        flex-flow: column;
        align-items: center;
        width: 100%;
    }

    header img {
        margin-top: 20px;
    }

    header nav {
        width: 100%;
    }

    header nav ul {
        width: 100%;
        justify-content: space-between;

    }

    header nav ul li {
        width: 50%;
    }

    header nav ul li a {
        padding-bottom: 23px;
        border-top: none;
        border-bottom: solid 2px #f2f2f2;

    }

    header nav li a:hover {
        border-bottom: solid 2px #0065FC;
        border-top: none;

    }

    /* MAIN */
    main {
        padding: 30px 0;
        margin: 0 auto;
    }

    /* SECTION SEARCH */
    .search {
        margin: 0;
        padding: 0 20px;
    }

    /* Search Bar */
    .search form {
        padding: 24px 0;
        margin: 0;
        width: 100%;
    }

    .search form label {
        width: 80px;
    }

    .search form input {
        width: 100%;
    }

    .search form button span {
        display: none;
    }

    .search form button i {
        display: inline;
    }

    /* Search Filters */
    .search .filters {
        flex-flow: column;
        align-items: flex-start;
        margin: 0;
        padding: 8px 0;

    }

    .search .filters ul {
        padding: 15px 0 0 0;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 12px;
        width: 100%;
    }

    .search .filters ul li {
        width: 48%;
        justify-content: flex-start;
        padding: 12px 0 12px 12px;
        border-radius: 25px;
    }

    .search .filters ul li {
        font-size: 13px;
        width: 47%;;
    }

    .search .count-result {
        padding: 30px 0;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .search .count-result i {
        min-width: 24px;
    }

    .search .count-result p {
        margin: 0;
        width: 100%;
        font-size: 15px;
    }

    /* SECTION HOUSING */
    .housing {
        flex-flow: column-reverse;
        padding: 0;
        gap: 0;
    }

    /* Popular Box */
    .housing .popular-box {
        padding: 10px 20px 40px 20px;
        border-radius: 0;
    }

    .popular-box .popular-cards {
        flex-direction: column;
    }

    .popular-cards .popular-article {
        width: 100%;
        height: 144px;
    }

    /* Houses Box */
    .housing .houses-box {
        padding: 10px 20px;
        margin: 0;
        background-color: #ffffff;
        border-radius: 0;
    }

    .houses-box .houses-cards {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .houses-cards .house-article {
        width: 100%;
        height: 199px;
    }

    .housing .more {
        display: none;
    }

    /* SECTION ACTIVITIES */
    .activities {
        padding: 60px 20px;
    }

    .activities h2 {
        
        padding: 5px 0 5px 0 0;
    }

    .activities .activities-box {
        flex-direction: column;
        padding: 0;
        
    }

    .activities-box .activity-card {
        width: 100%;
        height: 190px;
    }

    .activity-card img {
        height: 70%;
    }

    .activities-box .activity-description h3 {
        margin: 0;
        height: 100%;
    }

    /* FOOTER */
    footer {
        padding: 20px;
        margin: 0;
    }

    footer nav {
        flex-direction: column;
        padding: 0 5px;
        width: 100%;
    }

    footer nav .footer-nav {
        width: 100%;
        padding: 5px 0;
    }
}